.header {
  top: 0;
  left: 0;
  width: 100%;
  padding: .5rem;
  position: fixed;
  color: #006680;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: .1rem solid #006680;
  z-index: 10;

  .shop-btn-container {
    text-align: left;
    width: calc(100%/3);
  }

  .shop-btn {
    color: #006680;
    font-size: 1rem;
    font-weight: bold;
    margin-left: .5rem;
  }

  .logo-container {
    text-align: center;
    width: calc(100%/3);
  }
  
  .big-logo {
    display: none;
  }

  .small-logo {
    height: 2.2rem;
    width: auto;
  }

  .options {
    width: calc(100%/3);
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      margin: .5rem;
      color: #006680;
      cursor: pointer;
    }

    .login-btn,
    .logout-btn,
    .search-logo {
      height: 20px;
      width: auto;
    }
  }
}

/* RESPONSIVE DESIGN */

@media only screen and (min-width: 992px) {
  .header {
    padding: .5rem 3rem;   
    
    .big-logo { 
      font-family: 'Anton', sans-serif;
      font-size: 2.2rem;
      color: #006680;
      display: block;
    }

    .small-logo {
      display: none;
    }

    .options {
      .option {
        margin: .75rem;    
      }   
    }
  }      
}